@model _2deg.Models.Data;
@{
    ViewData["Title"] = "გურია";
}

<h1>გურია</h1>
<style>
    .ka {
        position: absolute;
        left: 1200px
    }
</style>

<div class="ka">
    <img src="https://cdn.discordapp.com/attachments/603893750762045450/762281245316218920/unknown.png" alt="Georgia">
</div>
<h2>Sum:@Html.DisplayFor(modeli => modeli.Sum) KiloTons of CO2 equivalent</h2>
 Manure Management: @Html.DisplayFor(modeli => modeli.output) KiloTons of CO2 equivalent
<p></p>
 Forest lands: @Html.DisplayFor(modeli => modeli.output1) KiloTons of CO2 equivalent
<p></p>
 Crop lands: @Html.DisplayFor(modeli => modeli.output2) KiloTons of CO2 equivalent
<p></p>
 Grass lands: @Html.DisplayFor(modeli => modeli.output3) KiloTons of CO2 equivalent
<p></p>
 Enteric Fermentation: @Html.DisplayFor(modeli => modeli.output4) KiloTons of CO2 equivalent
<p></p>
Other Product Manufacture and Use: @Html.DisplayFor(modeli => modeli.output5) KiloTons of CO2 equivalent
<p></p>
Product Uses as Substitutes for ODS: @Html.DisplayFor(modeli => modeli.output6) KiloTons of CO2 equivalent
<p></p>
Agricultural Soils : @Html.DisplayFor(modeli => modeli.output11) KiloTons of CO2 equivalent
<p></p>
Manufacturing Industries and Construction : @Html.DisplayFor(modeli => modeli.output12) KiloTons of CO2 equivalent
<p></p>
Pipeline Transport: @Html.DisplayFor(modeli => modeli.output13) KiloTons of CO2 equivalent
<p></p>
Residential: @Html.DisplayFor(modeli => modeli.output14) KiloTons of CO2 equivalent
<p></p>
Oil and Natural Gas : @Html.DisplayFor(modeli => modeli.output15) KiloTons of CO2 equivalent
<p></p>
Stationary: @Html.DisplayFor(modeli => modeli.output16) KiloTons of CO2 equivalent
<p></p>
Commercial/Institutional: @Html.DisplayFor(modeli => modeli.output17) KiloTons of CO2 equivalent
<p></p>
Solid Waste Disposal on Land: @Html.DisplayFor(modeli => modeli.output18) KiloTons of CO2 equivalent
<p></p>
Waste-water Handling/domestic: @Html.DisplayFor(modeli => modeli.output19) KiloTons of CO2 equivalent
<p></p>
Waste-water Handling/industry: @Html.DisplayFor(modeli => modeli.output20) KiloTons of CO2 equivalent
<p></p>
road transportation: @Html.DisplayFor(modeli => modeli.output21) KiloTons of CO2 equivalent
<p></p>